@import url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css");
* {
  margin: 0px;
  padding: 0px;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table, td, th {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

input, a, button {
  outline: 1;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

body {
  font-family: "NanumSquareNeo";
  letter-spacing: -0.5px;
  word-break: keep-all;
  background-color: #0a192f;
}

body.no-scroll {
  height: 100%;
  overflow: hidden !important;
}

.loading {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: -100%;
  left: 0px;
  position: fixed;
  opacity: 1;
  z-index: 99;
  background-color: #0a192f;
  color: #fff;
  font-size: 14px;
  transition: 0.5s;
  transition-delay: 1.4s;
}
.loading.on {
  display: block;
  top: 0px;
}
.loading.on .loading__box {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.loading.on .loading__box p {
  opacity: 1;
}
.loading.on .loading__bg {
  top: 200%;
  left: 0;
}
.loading__bg {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #112240;
  transition: all 1s cubic-bezier(0.4, 0, 1, 1);
  transition-delay: 0.6s;
}
.loading__box {
  position: absolute;
  top: -10%;
  right: -10%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 1.4s;
  transition-delay: 0.7s;
}
.loading__box p {
  padding-top: 10px;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.4s;
}

.bg-star {
  animation: starBg 40s linear infinite forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url(../img/visual-star.png);
  background-position: left center;
  background-size: 50% 100%;
  z-index: -1;
}

@keyframes starBg {
  to {
    transform: translateX(-50%);
  }
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.profile__inner {
  width: 1200px;
  box-sizing: border-box;
  margin: 0px auto;
  color: #ccd6f6;
  padding: 50px 0px;
  /* &.on {
  	h1 {
  		opacity: 1;
  		transform: translateY(0%);
  	}
  } */
}
.profile__inner h1 {
  font-size: 40px;
  line-height: 1.3;
  margin-bottom: 40px;
  /* transition: all 0.8s;
  opacity: 0;
  transform: translateY(20%); */
}
.profile__hi {
  width: 50px;
  position: relative;
  top: 10px;
}
.profile .scroll {
  color: #ccd6f6;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  animation: slidedown 1s linear 0s infinite alternate;
  font-size: 12px;
  transition: all 0.5s;
}
.profile .scroll i {
  display: block;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

@keyframes slidedown {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 20px;
  }
}
/* .card article:nth-of-type(1) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(1) {
  transition-delay: 0.2s;
}

/* .card article:nth-of-type(2) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(2) {
  transition-delay: 0.4s;
}

/* .card article:nth-of-type(3) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(3) {
  transition-delay: 0.6s;
}

/* .card article:nth-of-type(4) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(4) {
  transition-delay: 0.8s;
}

/* .card article:nth-of-type(5) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(5) {
  transition-delay: 1s;
}

/* .card article:nth-of-type(6) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(6) {
  transition-delay: 1.2s;
}

/* .card article:nth-of-type(7) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(7) {
  transition-delay: 1.4s;
}

/* .card article:nth-of-type(8) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(8) {
  transition-delay: 1.6s;
}

/* .card article:nth-of-type(9) {
	transition-delay: $i * 0.2s;
} */
.portfolio-list article:nth-of-type(9) {
  transition-delay: 1.8s;
}

.card {
  display: flex;
  justify-content: start;
  color: #ccd6f6;
  font-size: 14px;
  flex-wrap: wrap;
}
.card > article {
  background-color: #112240;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  /* opacity: 0;
  transform: translateY(10%);
  transition: all 0.5s; */
  /* &.on {
  	opacity: 1;
  	transform: translateY(0%);
  } */
}
.card > article > h3 {
  color: #60f6d3;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 15px;
}
.card > article > h3 span {
  display: inline-block;
  padding-left: 5px;
  color: #ccd6f6;
  font-size: 20px;
  font-weight: bold;
}
.card__me {
  width: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  margin-right: 20px;
}
.card__name {
  text-align: center;
  margin-bottom: 20px;
  color: #60f6d3;
  font-weight: bold;
  font-size: 16px;
}
.card__name > span {
  padding-top: 10px;
  display: block;
  color: #ccd6f6;
  font-weight: 300;
  font-family: "NanumSquareNeo";
  font-size: 14px;
}
.card__box {
  display: flex;
  text-align: center;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #0a192f;
}
.card__box li {
  padding-right: 30px;
}
.card__box li:last-child {
  padding-right: 0;
}
.card__box p {
  font-size: 12px;
}
.card__box i {
  font-size: 18px;
  margin-bottom: 10px;
}
.card__pick {
  width: 70px;
  height: 70px;
  border-radius: 60px;
  margin-bottom: 15px;
  overflow: hidden;
}
.card__pick img {
  width: 100%;
}
.card__contact {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-right: 20px;
}
.card__contact a {
  font-size: 12px;
  transition: all 0.3s;
  text-align: center;
  color: #ccd6f6;
}
.card__contact a:hover {
  transform: translateY(-10%);
  color: #fff;
}
.card__contact a i {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.card__introduction {
  width: 790px;
  border-radius: 20px;
}
.card__introduction ul {
  padding-left: 20px;
  margin-bottom: 15px;
}
.card__introduction ul li {
  list-style: disc;
  font-size: 16px;
  line-height: 1.5;
  color: #60f6d3;
}
.card__introduction p {
  font-size: 16px;
  line-height: 1.5;
}
.card__ed {
  width: 390px;
  border-radius: 20px;
  margin-right: 20px;
}
.card__ed ul {
  padding-left: 20px;
}
.card__ed ul li {
  list-style-type: disc;
  font-size: 16px;
  line-height: 1.8;
}
.card__ed ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__ed ul li div span {
  opacity: 0.5;
  font-size: 14px;
}
.card__career {
  width: 380px;
  border-radius: 20px;
  margin-right: 20px;
  box-sizing: border-box;
}
.card__career h5 {
  font-size: 16px;
  margin-right: 10px;
}
.card__career div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__career div span:nth-of-type(1) {
  border-right: 1px solid #ccd6f6;
  padding-right: 5px;
  margin-right: 7px;
}
.card__career ul {
  padding-left: 20px;
  margin-bottom: 15px;
}
.card__career ul:last-child {
  margin-bottom: 0;
}
.card__career ul li {
  list-style: disc;
  line-height: 1.5;
  font-size: 16px;
}
.card__tools {
  border-radius: 20px;
  width: calc(100% - 810px);
  box-sizing: border-box;
}
.card__tools ul li {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 10px;
}
.card__tools ul li p {
  font-size: 16px;
}
.card__tools ul li:last-child {
  margin-bottom: 0;
}
.card__tools img {
  width: 20px;
  margin-right: 10px;
}

.portfolio {
  min-height: 100vh;
  box-sizing: border-box;
}
.portfolio__inner {
  width: 1200px;
  box-sizing: border-box;
  margin: 0px auto;
  color: #ccd6f6;
  padding: 0px 0px 50px;
}
.portfolio__inner.on h1 {
  opacity: 1;
  transform: translateY(0%);
}
.portfolio__inner h1 {
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 50px;
  transition: all 0.8s;
  font-family: "NanumSquareNeoHeavy";
  opacity: 0;
  transform: translateY(30%);
}
.portfolio__inner h1 span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  font-family: "NanumSquareNeo";
}

.portfolio-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.portfolio-list__img-box {
  width: 100%;
  box-sizing: border-box;
  height: 250px;
  background-color: #112240;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.portfolio-list__img-box img {
  width: 100%;
}
.portfolio-list__txt-box {
  padding: 0px 10px;
}
.portfolio-list.on article {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-list article {
  width: 32%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-right: 2%;
  transition: all 0.5s;
  opacity: 0;
  transform: translateY(10%);
}
.portfolio-list article:hover {
  transform: translateY(-5%);
}
.portfolio-list article:nth-of-type(3n) {
  margin-right: 0;
}
.portfolio-list article p {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.portfolio-list article h6 {
  font-size: 16px;
  font-weight: normal;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
}
.popup h6 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 800;
}
.popup__ul-explanation {
  padding-left: 20px;
  margin-bottom: 30px;
}
.popup__ul-explanation li {
  list-style-type: disc;
  margin-bottom: 12px;
  font-size: 16px;
}
.popup.on {
  display: block;
}
.popup__inner {
  width: 1200px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.popup__inner article {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: none;
}
.popup__inner article.on {
  display: flex;
}
.popup__left-box {
  width: 30%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #888;
}
.popup__right-box {
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 50px 20px;
  overflow: auto;
  color: #333;
}
.popup__right-box h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 800;
}
.popup__right-box h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #333;
  margin-bottom: 30px;
}
.popup__right-box .pupup__explanation {
  display: flex;
  margin-bottom: 30px;
}
.popup__right-box .pupup__explanation li {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #aaa;
}
.popup__right-box .pupup__explanation li:last-child {
  margin-right: 0;
  border-right: 0px;
}
.popup__right-box .popup__detail {
  font-size: 16px;
  margin-bottom: 30px;
}
.popup__right-box .keyword {
  display: flex;
  flex-wrap: wrap;
}
.popup__right-box .keyword li {
  font-size: 0px;
  padding: 10px 15px;
  border: 1px solid #888;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.popup__right-box .keyword li p {
  font-size: 14px;
  color: #333;
}
.popup__youtube {
  position: relative;
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  background-color: #333;
  overflow: hidden;
  margin-bottom: 40px;
}
.popup__youtube iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 150%;
}
.popup__close {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #0a192f;
  background-color: #fff;
  border: 3px solid #060f1c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.popup__close:hover {
  background-color: lightsalmon;
}
.popup__close i {
  font-size: 24px;
}
.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .popup {
    height: auto;
    min-height: 100vh;
    padding: 50px 30px;
    box-sizing: border-box;
  }
  .popup h6 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .popup__ul-explanation {
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .popup__ul-explanation li {
    list-style-type: disc;
    margin-bottom: 12px;
    font-size: 16px;
  }
  .popup__inner {
    width: calc(100% - 60px);
    height: 55vw;
  }
  .popup__left-box {
    width: 30%;
    height: 100%;
  }
  .popup__right-box {
    width: 70%;
    height: 100%;
    padding: 30px 30px 20px;
  }
  .popup__right-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .popup__right-box h2::before {
    width: 50px;
    height: 4px;
    margin-bottom: 30px;
  }
  .popup__right-box .pupup__explanation {
    margin-bottom: 30px;
    flex-direction: column;
  }
  .popup__right-box .pupup__explanation li {
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    border-right: 0;
    font-size: 14px;
  }
  .popup__right-box .popup__detail {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .popup__right-box .keyword {
    display: flex;
  }
  .popup__right-box .keyword li {
    font-size: 0px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .popup__right-box .keyword li p {
    font-size: 14px;
  }
  .popup__youtube {
    height: 34vw;
    margin-bottom: 40px;
  }
  .popup__close {
    top: -25px;
    right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #060f1c;
  }
  .popup__close i {
    font-size: 24px;
  }
  .loading__box {
    top: -50%;
    right: -50%;
  }
  .profile__inner {
    width: 100%;
    padding: 50px 30px 0px;
  }
  .profile__inner h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .profile__hi {
    width: 50px;
    top: 10px;
  }
  .profile .scroll {
    display: none;
  }
  .card {
    font-size: 14px;
  }
  .card > article {
    padding: 20px;
  }
  .card > article > h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .card > article > h3 span {
    padding-left: 5px;
    font-size: 18px;
  }
  .card__contact {
    order: 1;
    width: 80px;
    border-radius: 20px;
    margin-right: 20px;
  }
  .card__contact a {
    font-size: 12px;
  }
  .card__contact a i {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card__me {
    order: 2;
    width: 290px;
    border-radius: 25px;
  }
  .card__tools {
    order: 3;
    border-radius: 20px;
    width: calc(100% - 410px);
  }
  .card__tools ul {
    padding-top: 5px;
  }
  .card__tools ul li {
    margin-bottom: 15px;
  }
  .card__tools img {
    width: 20px;
    margin-right: 10px;
  }
  .card__name {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .card__name > span {
    padding-top: 10px;
    font-size: 14px;
  }
  .card__box {
    padding: 15px 20px;
    border-radius: 20px;
  }
  .card__box li {
    padding-right: 30px;
  }
  .card__box p {
    font-size: 12px;
  }
  .card__box i {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card__pick {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-bottom: 15px;
  }
  .card__introduction {
    order: 4;
    width: 100%;
    border-radius: 20px;
  }
  .card__introduction ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .card__introduction ul li {
    font-size: 16px;
  }
  .card__introduction p {
    font-size: 16px;
    line-height: 1.5;
  }
  .card__ed {
    order: 5;
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-right: 20px;
  }
  .card__ed ul {
    padding-left: 20px;
  }
  .card__ed ul li {
    font-size: 16px;
  }
  .card__ed ul li div span {
    opacity: 0.5;
    font-size: 14px;
  }
  .card__career {
    order: 6;
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-right: 0px;
  }
  .card__career h5 {
    font-size: 14px;
    margin-right: 10px;
  }
  .card__career div {
    margin-bottom: 10px;
  }
  .card__career div span:nth-of-type(1) {
    padding-right: 10px;
    margin-right: 10px;
  }
  .card__career ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .portfolio {
    min-height: auto;
  }
  .portfolio__inner {
    width: 100%;
    padding: 50px 30px;
  }
  .portfolio__inner h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .portfolio__inner h1 span {
    font-size: 16px;
  }
  .portfolio-list__img-box {
    height: 25vw;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .portfolio-list__txt-box {
    padding: 0px 10px;
  }
  .portfolio-list article {
    width: 48.5%;
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 3%;
  }
  .portfolio-list article:nth-of-type(2n) {
    margin-right: 0;
  }
  .portfolio-list article:nth-of-type(3n) {
    margin-right: auto;
  }
  .portfolio-list article p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .portfolio-list article h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 840px) {
  .popup {
    padding: 50px 20px;
  }
  .popup h6 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .popup__ul-explanation {
    margin-bottom: 30px;
  }
  .popup__ul-explanation li {
    margin-bottom: 12px;
    font-size: 16px;
  }
  .popup__inner {
    width: calc(100% - 40px);
    height: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
  .popup article {
    flex-wrap: wrap;
    overflow: auto;
    height: auto;
    max-height: 90vh;
    align-items: start;
  }
  .popup__left-box {
    width: 100%;
    height: 50vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .popup__right-box {
    width: 100%;
    padding: 30px 30px 20px;
  }
  .popup__right-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .popup__right-box h2::before {
    width: 50px;
    height: 4px;
    margin-bottom: 30px;
  }
  .popup__right-box .pupup__explanation {
    margin-bottom: 30px;
  }
  .popup__right-box .pupup__explanation li {
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
    border-right: 0;
    font-size: 14px;
  }
  .popup__right-box .popup__detail {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .popup__right-box .keyword {
    display: flex;
  }
  .popup__right-box .keyword li {
    font-size: 0px;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 10px;
  }
  .popup__right-box .keyword li p {
    font-size: 14px;
  }
  .popup__youtube {
    display: none;
    height: 34vw;
    margin-bottom: 40px;
  }
  .popup__close {
    top: -25px;
    right: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #060f1c;
  }
  .popup__close i {
    font-size: 24px;
  }
  .pc {
    display: none;
  }
  .profile__inner {
    padding: 50px 20px 0px;
  }
  .profile__inner h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .profile__hi {
    width: 38px;
    top: 8px;
  }
  .card {
    font-size: 14px;
  }
  .card > article {
    padding: 20px;
  }
  .card > article > h3 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .card > article > h3 span {
    padding-left: 5px;
    font-size: 18px;
  }
  .card__contact {
    order: 1;
    width: 80px;
    border-radius: 20px;
    margin-right: 20px;
  }
  .card__contact a {
    font-size: 12px;
  }
  .card__contact a i {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card__me {
    order: 2;
    width: 290px;
    border-radius: 25px;
  }
  .card__tools {
    order: 3;
    border-radius: 20px;
    width: calc(100% - 410px);
  }
  .card__tools ul {
    padding-top: 5px;
  }
  .card__tools ul li {
    margin-bottom: 15px;
  }
  .card__tools ul li p {
    font-size: 14px;
  }
  .card__tools img {
    width: 20px;
    margin-right: 10px;
  }
  .card__name {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .card__name > span {
    padding-top: 10px;
    font-size: 14px;
  }
  .card__box {
    padding: 15px 20px;
    border-radius: 20px;
  }
  .card__box li {
    padding-right: 30px;
  }
  .card__box p {
    font-size: 12px;
  }
  .card__box i {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card__pick {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    margin-bottom: 15px;
  }
  .card__introduction {
    order: 4;
    width: 100%;
    border-radius: 20px;
  }
  .card__introduction ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .card__introduction ul li {
    font-size: 16px;
  }
  .card__introduction p {
    font-size: 16px;
    line-height: 1.5;
  }
  .card__ed {
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-right: 20px;
  }
  .card__ed ul {
    padding-left: 20px;
  }
  .card__ed ul li {
    font-size: 16px;
  }
  .card__ed ul li div {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .card__ed ul li div span {
    opacity: 0.5;
    font-size: 14px;
  }
  .card__career {
    order: 6;
    width: calc(50% - 10px);
    border-radius: 20px;
    margin-right: 0px;
  }
  .card__career h5 {
    width: 100%;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .card__career div {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .card__career div span:nth-of-type(1) {
    padding-right: 10px;
    margin-right: 10px;
  }
  .card__career ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .card__career ul li {
    font-size: 14px;
  }
  .portfolio__inner {
    padding: 50px 20px;
  }
  .portfolio__inner h1 {
    font-size: 38px;
    margin-bottom: 40px;
  }
  .portfolio__inner h1 span {
    font-size: 16px;
  }
  .portfolio-list__img-box {
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .portfolio-list__txt-box {
    padding: 0px 10px;
  }
  .portfolio-list article {
    width: 48.5%;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 3%;
  }
  .portfolio-list article:hover {
    transform: translateY(0);
  }
  .portfolio-list article p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .portfolio-list article h6 {
    font-size: 16px;
  }
}
@media screen and (max-width: 680px) {
  .popup {
    padding: 0px 20px;
  }
  .popup h6 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .popup__ul-explanation {
    margin-bottom: 30px;
  }
  .popup__ul-explanation li {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .popup__inner {
    width: calc(100% - 40px);
    max-height: 90vh;
    height: auto;
    margin-top: 0px;
  }
  .popup article {
    flex-wrap: wrap;
    overflow: auto;
    justify-content: start;
    align-items: start;
  }
  .popup__left-box {
    width: 100%;
    height: 50vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .popup__right-box {
    width: 100%;
    height: auto;
    padding: 30px 20px 10px;
  }
  .popup__right-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .popup__right-box h2::before {
    width: 50px;
    height: 4px;
    margin-bottom: 30px;
  }
  .popup__right-box .pupup__explanation {
    margin-bottom: 30px;
  }
  .popup__right-box .pupup__explanation li {
    padding-right: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    border-right: 0;
    font-size: 12px;
  }
  .popup__right-box .popup__detail {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .popup__right-box .keyword li {
    font-size: 0px;
    padding: 8px 12px;
    border-radius: 20px;
    margin-right: 8px;
  }
  .popup__right-box .keyword li p {
    font-size: 12px;
  }
  .popup__youtube {
    display: none;
  }
  .popup__close {
    top: -25px;
    right: -15px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    border: 3px solid #060f1c;
  }
  .popup__close i {
    font-size: 24px;
  }
  .loading__box {
    top: -50%;
    right: -100%;
  }
  .profile__inner {
    padding: 40px 20px 0px;
  }
  .profile__inner h1 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .profile__hi {
    width: 26px;
    top: 5px;
  }
  .card {
    font-size: 14px;
  }
  .card > article {
    padding: 20px;
  }
  .card > article > h3 {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .card > article > h3 span {
    padding-left: 5px;
    font-size: 16px;
  }
  .card__contact {
    order: 1;
    width: 100%;
    border-radius: 20px;
    margin-right: 0px;
    flex-direction: row;
  }
  .card__contact a {
    font-size: 12px;
  }
  .card__contact a i {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .card__me {
    order: 2;
    width: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    margin-right: 0;
  }
  .card__tools {
    order: 6;
    border-radius: 20px;
    width: 100%;
  }
  .card__tools ul {
    padding-top: 5px;
  }
  .card__tools ul li {
    margin-bottom: 15px;
  }
  .card__tools img {
    width: 20px;
    margin-right: 10px;
  }
  .card__name {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .card__name > span {
    padding-top: 10px;
    font-size: 14px;
  }
  .card__introduction {
    order: 3;
    width: 100%;
  }
  .card__introduction ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .card__introduction ul li {
    font-size: 14px;
  }
  .card__introduction p {
    font-size: 14px;
    line-height: 1.5;
  }
  .card__ed {
    order: 4;
    width: 100%;
    border-radius: 20px;
    margin-right: 0px;
  }
  .card__ed ul {
    padding-left: 20px;
  }
  .card__ed ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .card__ed ul li div span {
    font-size: 12px;
  }
  .card__career {
    order: 5;
    width: 100%;
    border-radius: 20px;
    margin-right: 0px;
  }
  .card__career h5 {
    width: 100%;
    font-size: 14px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .card__career div {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .card__career div span:nth-of-type(1) {
    padding-right: 10px;
    margin-right: 10px;
  }
  .card__career ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .portfolio__inner {
    padding: 30px 20px;
  }
  .portfolio__inner h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .portfolio__inner h1 span {
    font-size: 14px;
  }
  .portfolio-list__img-box {
    height: 50vw;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  .portfolio-list__txt-box {
    padding: 0px 10px;
  }
  .portfolio-list article {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 0%;
  }
  .portfolio-list article p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .portfolio-list article h6 {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */