@import url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css");

body {
	font-family: "NanumSquareNeo";
	letter-spacing: -0.5px;
	word-break: keep-all;
	background-color: #0a192f;
}

body.no-scroll {
	height: 100%;
	overflow: hidden !important;
}

#preloaded-images {
	position: absolute;
	overflow: hidden;
	left: -9999px; 
	top: -9999px;
	height: 1px;
	width: 1px;
	visibility: hidden;
 }

.link-btn {
	display: inline-block;
	font-size: 16px;
	background-color: #333;
	border-radius: 5px;
	padding: 10px 15px;
	color: #fff;
	margin-bottom: 20px;
}

.loading {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	top: -100%;
	left: 0px;
	position: fixed;
	opacity: 1;
	z-index: 99;
	background-color: #0a192f;
	color: #fff;
	font-size: 14px;
	transition: 0.5s;
	transition-delay: 1.4s;

	&.on {
		display: block;
		top: 0px;

		.loading__box {
			top: 50%;
			right: 50%;
			transform: translate(50%, -50%);

			p {
				opacity: 1;
			}
		}

		.loading__bg {
			top: 200%;
			left: 0;
		}
	}

	&__bg {
		position: absolute;
		top:0%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #112240;
		transition: all 1s cubic-bezier(0.4, 0, 1, 1);
		transition-delay: 0.6s;
	}

	&__box {
		position: absolute;
		top: -10%;
		right: -10%;
		transform: translate(-50%, -50%);
		text-align: center;
		transition: all 1.4s;
		transition-delay: 0.7s;


		p {
			padding-top: 10px;
			opacity: 0;
			transition: all 0.5s;
			transition-delay: 0.4s;
		}
	}
}

.bg-star {
	animation: starBg 40s linear infinite forwards;
	position: fixed;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background-image: url(../img/visual-star.png);
	background-position: left center;
	background-size: 50% 100%;
	z-index: -1;
}

@keyframes starBg {
	to {
		transform: translateX(-50%);
	}
}

.profile {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
	&__inner {
		width: 1200px;
		box-sizing: border-box;
		margin: 0px auto;
		color: #ccd6f6;
		padding: 50px 0px;

		/* &.on {
			h1 {
				opacity: 1;
				transform: translateY(0%);
			}
		} */

		h1 {
			font-size: 40px;
			line-height: 1.3;
			margin-bottom: 40px;
			/* transition: all 0.8s;
			opacity: 0;
			transform: translateY(20%); */
		}
	}
	&__hi {
		width: 50px;
		position: relative;
		top: 10px;
	}
	.scroll {
		color: #ccd6f6;
		position: absolute;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
		animation: slidedown 1s linear 0s infinite alternate;
		font-size: 12px;
		transition: all 0.5s;

		i {
			display: block;
			font-weight: bold;
			font-size: 24px;
			text-align: center;
		}
	}
}

@keyframes slidedown {
	0% {
		bottom: 30px;
	}

	100% {
		bottom: 20px;
	}
}

@for $i from 1 through 9 {
	/* .card article:nth-of-type(#{$i}) {
		transition-delay: $i * 0.2s;
	} */

	.portfolio-list article:nth-of-type(#{$i}) {
		transition-delay: $i * 0.2s;
	}
}


.card {
	display: flex;
	justify-content: start;
	color: #ccd6f6;
	font-size: 14px;
	flex-wrap: wrap;

	> article {
		background-color: #112240;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom: 20px;
		/* opacity: 0;
		transform: translateY(10%);
		transition: all 0.5s; */

		/* &.on {
			opacity: 1;
			transform: translateY(0%);
		} */

		> h3 {
			color: #60f6d3;
			font-size: 18px;
			font-weight: normal;
			margin-bottom: 15px;
			span {
				display: inline-block;
				padding-left: 5px;
				color: #ccd6f6;
				font-size: 20px;
				font-weight: bold;
			}
		}
	}

	&__me {
		width: 290px;
		display: flex;
		align-items: center;
		flex-direction: column;
		border-radius: 25px;
		margin-right: 20px;
	}

	&__name {
		text-align: center;
		margin-bottom: 20px;
		color: #60f6d3;
		font-weight: bold;
		font-size: 16px;

		> span {
			padding-top: 10px;
			display: block;
			color: #ccd6f6;
			font-weight: 300;
			font-family: "NanumSquareNeo";
			font-size: 14px;
		}
	}

	&__box {
		display: flex;
		text-align: center;
		padding: 15px 20px;
		border-radius: 20px;
		background-color: #0a192f;
		li {
			padding-right: 30px;
			&:last-child {
				padding-right: 0;
			}
		}
		p {
			font-size: 12px;
		}
		i {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	&__pick {
		width: 70px;
		height: 70px;
		border-radius: 60px;
		margin-bottom: 15px;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&__contact {
		width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		border-radius: 20px;
		margin-right: 20px;

		a {
			font-size: 12px;
			transition: all 0.3s;
			&:hover {
				transform: translateY(-10%);
				color: #fff;
			}

			i {
				font-size: 18px;
				display: block;
				margin-bottom: 10px;
			}
			text-align: center;
			color: #ccd6f6;
		}
	}

	&__introduction {
		width: 790px;
		border-radius: 20px;

		ul {
			padding-left: 20px;
			margin-bottom: 15px;
			li {
				list-style: disc;
				font-size: 16px;
				line-height: 1.5;
				color: #60f6d3;
			}
		}

		p {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	&__ed {
		width: 390px;
		border-radius: 20px;
		margin-right: 20px;

		ul {
			padding-left: 20px;
			li {
				list-style-type: disc;
				font-size: 16px;
				line-height: 1.8;

				div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					span {
						opacity: 0.5;
						font-size: 14px;
					}
				}
			}
		}
	}

	&__career {
		width: 380px;
		border-radius: 20px;
		margin-right: 20px;
		box-sizing: border-box;

		h5 {
			font-size: 16px;
			margin-right: 10px;
		}

		div {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			span {
				&:nth-of-type(1) {
					border-right: 1px solid #ccd6f6;
					padding-right: 5px;
					margin-right: 7px;
				}
			}
		}

		ul {
			padding-left: 20px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			li {
				list-style: disc;
				line-height: 1.5;
				font-size: 16px;
			}
		}
	}

	&__tools {
		border-radius: 20px;
		width: calc(100% - 810px);
		box-sizing: border-box;
		ul {
			li {
				display: flex;
				box-sizing: border-box;
				align-items: center;
				margin-bottom: 10px;

				p {
					font-size: 16px;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		img {
			width: 20px;
			margin-right: 10px;
		}
	}
}

.portfolio {
	min-height: 100vh;
	box-sizing: border-box;

	&__inner {
		width: 1200px;
		box-sizing: border-box;
		margin: 0px auto;
		color: #ccd6f6;
		padding: 0px 0px 50px;

		&.on {
			h1 {
				opacity: 1;
				transform: translateY(0%);
			}
		}

		h1 {
			font-size: 50px;
			line-height: 1.4;
			margin-bottom: 50px;
			transition: all 0.8s;
			font-family: "NanumSquareNeoHeavy";
			opacity: 0;
			transform: translateY(30%);
			span {
				display: block;
				font-weight: normal;
				font-size: 16px;
				font-family: "NanumSquareNeo";
			}
		}
	}
}

.portfolio-list {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	&__img-box {
		width: 100%;
		box-sizing: border-box;
		height: 250px;
		background-color: #112240;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 20px;
		img {
			width: 100%;
		}
	}
	&__txt-box {
		padding: 0px 10px;
	}

	&.on {
		article {
			opacity: 1;
			transform: translateY(0);
		}
	}
	article {
		width: 32%;
		box-sizing: border-box;
		cursor: pointer;
		border-radius: 20px;
		margin-bottom: 50px;
		margin-right: 2%;
		transition: all 0.5s;
		opacity: 0;
		transform: translateY(10%);

		&:hover {
			transform: translateY(-5%);
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}

		p {
			font-size: 14px;
			opacity: 0.7;
			margin-bottom: 10px;
		}
		h6 {
			font-size: 16px;
			font-weight: normal;
		}
	}
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none;

	h6 {
		font-size: 18px;
		margin-bottom: 15px;
		font-weight: 800;
	}

	&__ul-explanation {
		padding-left: 20px;
		margin-bottom: 30px;
		li {
			list-style-type: disc;
			margin-bottom: 12px;
			font-size: 16px;
		}
	}

	&.on {
		display: block;
	}

	&__inner {
		width: 1200px;
		height: 600px;
		background-color: #fff;
		border-radius: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		article {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			display: none;

			&.on {
				display: flex;
			}
		}
	}

	

	&__left-box {
		width: 30%;
		height: 100%;
		box-sizing: border-box;
		border-radius: 20px;
		background-color: #888;
		overflow: hidden;
		position: relative;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom left;
		image-rendering:-webkit-optimize-contrast;
		transform:translateZ(0);
		backface-visibility:hidden;
		
	}

	&__right-box {
		width: 70%;
		height: 100%;
		box-sizing: border-box;
		padding: 30px 50px 20px;
		overflow: auto;
		color: #333;

		h2 {
			font-size: 22px;
			margin-bottom: 10px;
			&::before {
				content: "";
				display: block;
				width: 50px;
				height: 4px;
				background-color: #333;
				margin-bottom: 30px;
			}
			font-weight: 800;
		}

		.pupup__explanation {
			display: flex;
			margin-bottom: 30px;
			li {
				padding-right: 10px;
				margin-right: 10px;
				border-right: 2px solid #aaa;

				&:last-child {
					margin-right: 0;
					border-right: 0px;
				}
			}
			
		}

		.popup__detail {
			font-size: 16px;
			margin-bottom: 30px;
		}

		.keyword {
			display: flex;
			flex-wrap: wrap;
			li {
				font-size: 0px;
				padding: 10px 15px;
				border: 1px solid #888;
				border-radius: 20px;
				margin-right: 10px;
				margin-bottom: 10px;
				p {
					font-size: 14px;
					color: #333;
				}

			}
			
		}
	}

	&__youtube {
		position: relative;
		width: 100%;
		height: 360px;
		box-sizing: border-box;
		background-color: #333;
		overflow: hidden;
		margin-bottom: 30px;
		box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.1);

		iframe {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 100%;
			height: 150%;
		}

		img {
			width: 100%;
		}
	}

	&__close {
		position: absolute;
		top: -25px;
		right: -25px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		color: #0a192f;
		background-color: #fff;
		border: 3px solid #060f1c;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
		&:hover {
			background-color: lightsalmon;
		}
		i {
			font-size: 24px;
		}
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		background-color: #000;
		opacity: 0.6;
		z-index: 0;
	}
}

@media screen and (max-width: 1200px) {
	.popup {
		height: auto;
		min-height: 100vh;
		padding: 50px 30px;
		box-sizing: border-box;
	
		h6 {
			font-size: 18px;
			margin-bottom: 15px;
		}
	
		&__ul-explanation {
			padding-left: 20px;
			margin-bottom: 30px;
			li {
				list-style-type: disc;
				margin-bottom: 12px;
				font-size: 16px;
			}
		}
		
	
		&__inner {
			width: calc(100% - 60px);
			height: 55vw;
		}
		
	
		&__left-box {
			width: 30%;
			height: 100%;
		}
	
		&__right-box {
			width: 70%;
			height: 100%;
			padding: 30px 30px 20px;
	
			h2 {
				font-size: 20px;
				margin-bottom: 15px;
				&::before {
					width: 50px;
					height: 4px;
					margin-bottom: 30px;
				}
			}
	
			.pupup__explanation {
				margin-bottom: 30px;
				flex-direction: column;
				li {
					padding-right: 0px;
					margin-right: 0px;
					margin-bottom: 7px;
					border-right: 0;
					font-size: 14px;
				}
				
			}
	
			.popup__detail {
				font-size: 16px;
				margin-bottom: 30px;
				line-height: 1.5;
			}
	
			.keyword {
				display: flex;
				li {
					font-size: 0px;
					padding: 10px 15px;
					border-radius: 20px;
					margin-right: 10px;
					p {
						font-size: 14px;
					}
	
				}
				
			}
		}
	
		&__youtube {
			height: 34vw;
		}
	
		&__close {
			top: -25px;
			right: -25px;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			border: 3px solid #060f1c;
			i {
				font-size: 24px;
			}
		}
		
	}


	.loading {
		&__box {
			top: -50%;
			right: -50%;
		}
	}

	.profile {
		&__inner {
			width: 100%;
			padding: 50px 30px 0px;

			h1 {
				font-size: 40px;
				margin-bottom: 40px;
			}
		}

		&__hi {
			width: 50px;
			top: 10px;
		}

		.scroll {
			display: none;
		}
	}

	.card {
		font-size: 14px;

		> article {
			padding: 20px;

			> h3 {
				font-size: 16px;
				margin-bottom: 15px;

				span {
					padding-left: 5px;
					font-size: 18px;
				}
			}
		}

		&__contact {
			order: 1;
			width: 80px;
			border-radius: 20px;
			margin-right: 20px;
			a {
				font-size: 12px;
				i {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
		}

		&__me {
			order: 2;
			width: 290px;
			border-radius: 25px;
		}

		&__tools {
			order: 3;
			border-radius: 20px;
			width: calc(100% - 410px);

			ul {
				padding-top: 5px;
				li {
					margin-bottom: 15px;
				}
			}
			img {
				width: 20px;
				margin-right: 10px;
			}
		}

		&__name {
			margin-bottom: 20px;
			font-size: 16px;

			> span {
				padding-top: 10px;
				font-size: 14px;
			}
		}

		&__box {
			padding: 15px 20px;
			border-radius: 20px;

			li {
				padding-right: 30px;
			}

			p {
				font-size: 12px;
			}

			i {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}

		&__pick {
			width: 60px;
			height: 60px;
			border-radius: 60px;
			margin-bottom: 15px;
		}

		&__introduction {
			order: 4;
			width: 100%;
			border-radius: 20px;

			ul {
				padding-left: 20px;
				margin-bottom: 15px;
				li {
					font-size: 16px;
				}
			}

			p {
				font-size: 16px;
				line-height: 1.5;
			}
		}

		&__ed {
			order: 5;
			width: calc(50% - 10px);
			border-radius: 20px;
			margin-right: 20px;

			ul {
				padding-left: 20px;
				li {
					font-size: 16px;
					div {
						span {
							opacity: 0.5;
							font-size: 14px;
						}
					}
				}
			}
		}

		&__career {
			order: 6;
			width: calc(50% - 10px);
			border-radius: 20px;
			margin-right: 0px;

			h5 {
				font-size: 14px;
				margin-right: 10px;
			}

			div {
				margin-bottom: 10px;
				span {
					&:nth-of-type(1) {
						padding-right: 10px;
						margin-right: 10px;
					}
				}
			}

			ul {
				padding-left: 20px;
				margin-bottom: 15px;

				
			}
		}
	}

	.portfolio {
		min-height: auto;

		&__inner {
			width: 100%;
			padding: 50px 30px;

			h1 {
				font-size: 50px;
				margin-bottom: 40px;
				span {
					font-size: 16px;
				}
			}
		}
	}

	.portfolio-list {
		&__img-box {
			height: 25vw;
			border-radius: 20px;
			margin-bottom: 20px;
		}
		&__txt-box {
			padding: 0px 10px;
		}

		article {
			width: 48.5%;
			border-radius: 20px;
			margin-bottom: 50px;
			margin-right: 3%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
			&:nth-of-type(3n) {
				margin-right: auto;
			}

			p {
				font-size: 14px;
				margin-bottom: 10px;
			}
			h6 {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 840px) {
	.popup {
		padding: 50px 20px;
	
		h6 {
			font-size: 18px;
			margin-bottom: 15px;
		}
	
		&__ul-explanation {
			margin-bottom: 30px;
			li {
				margin-bottom: 12px;
				font-size: 16px;
			}
		}
		
	
		&__inner {
			width: calc(100% - 40px);
			height: auto;
			max-height: 90vh;
			margin-top: 10px;
		}

		article {
			flex-wrap: wrap;
			overflow: auto;
			height: auto;
			max-height: 90vh;
			align-items: start;
		}
	
		&__left-box {
			width: 100%;
			height: 50vw;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	
		&__right-box {
			width: 100%;
			padding: 30px 30px 20px;
	
			h2 {
				font-size: 20px;
				margin-bottom: 15px;
				&::before {
					width: 50px;
					height: 4px;
					margin-bottom: 30px;
				}
			}
	
			.pupup__explanation {
				margin-bottom: 30px;
				li {
					padding-right: 0px;
					margin-right: 0px;
					margin-bottom: 7px;
					border-right: 0;
					font-size: 14px;
				}
				
			}
	
			.popup__detail {
				font-size: 16px;
				margin-bottom: 30px;
				line-height: 1.5;
			}
	
			.keyword {
				display: flex;
				li {
					font-size: 0px;
					padding: 10px 15px;
					border-radius: 20px;
					margin-right: 10px;
					p {
						font-size: 14px;
					}
	
				}
				
			}
		}
	
		&__youtube {
			display: none;
			height: 34vw;
		}
	
		&__close {
			top: -25px;
			right: -15px;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			border: 3px solid #060f1c;
			i {
				font-size: 24px;
			}
		}
		
	}

	.pc {
		display: none;
	}
	.profile {
		&__inner {
			padding: 50px 20px 0px;

			h1 {
				font-size: 28px;
				margin-bottom: 20px;
			}
		}

		&__hi {
			width: 38px;
			top: 8px;
		}
	}

	.card {
		font-size: 14px;

		> article {
			padding: 20px;

			> h3 {
				font-size: 16px;
				margin-bottom: 15px;

				span {
					padding-left: 5px;
					font-size: 18px;
				}
			}
		}

		&__contact {
			order: 1;
			width: 80px;
			border-radius: 20px;
			margin-right: 20px;
			a {
				font-size: 12px;
				i {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
		}

		&__me {
			order: 2;
			width: 290px;
			border-radius: 25px;
		}

		&__tools {
			order: 3;
			border-radius: 20px;
			width: calc(100% - 410px);

			ul {
				padding-top: 5px;
				li {
					margin-bottom: 15px;
					p {
						font-size: 14px;
					}
				}
			}
			img {
				width: 20px;
				margin-right: 10px;
			}
		}

		&__name {
			margin-bottom: 20px;
			font-size: 16px;

			> span {
				padding-top: 10px;
				font-size: 14px;
			}
		}

		&__box {
			padding: 15px 20px;
			border-radius: 20px;

			li {
				padding-right: 30px;
			}

			p {
				font-size: 12px;
			}

			i {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}

		&__pick {
			width: 60px;
			height: 60px;
			border-radius: 60px;
			margin-bottom: 15px;
		}

		&__introduction {
			order: 4;
			width: 100%;
			border-radius: 20px;

			ul {
				padding-left: 20px;
				margin-bottom: 15px;
				li {
					font-size: 16px;
				}
			}

			p {
				font-size: 16px;
				line-height: 1.5;
			}
		}

		&__ed {
			width: calc(50% - 10px);
			border-radius: 20px;
			margin-right: 20px;

			ul {
				padding-left: 20px;
				li {
					font-size: 16px;
					div {
						flex-direction: column;
						justify-content: start;
						align-items: start;
						span {
							opacity: 0.5;
							font-size: 14px;
						}
					}
				}
			}
		}

		&__career {
			order: 6;
			width: calc(50% - 10px);
			border-radius: 20px;
			margin-right: 0px;

			h5 {
				width: 100%;
				font-size: 14px;
				margin-right: 0px;
				margin-bottom: 10px;
			}

			div {
				flex-wrap: wrap;
				margin-bottom: 10px;
				span {
					&:nth-of-type(1) {
						padding-right: 10px;
						margin-right: 10px;
					}
				}
			}

			ul {
				padding-left: 20px;
				margin-bottom: 15px;

				li {
					font-size: 14px;
				}
			}
		}
	}

	.portfolio {
		&__inner {
			padding: 50px 20px;

			h1 {
				font-size: 38px;
				margin-bottom: 40px;
				span {
					font-size: 16px;
				}
			}
		}
	}

	.portfolio-list {
		&__img-box {
			border-radius: 20px;
			margin-bottom: 20px;
		}
		&__txt-box {
			padding: 0px 10px;
		}

		article {
			width: 48.5%;
			border-radius: 20px;
			margin-bottom: 40px;
			margin-right: 3%;

			&:hover {
				transform: translateY(0);
			}

			p {
				font-size: 14px;
				margin-bottom: 10px;
			}
			h6 {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.link-btn {
		font-size: 12px;
		padding: 10px 15px;
		margin-bottom: 20px;
	}
	.popup {
		padding: 0px 20px;
	
		h6 {
			font-size: 16px;
			margin-bottom: 15px;
		}
	
		&__ul-explanation {
			margin-bottom: 30px;
			li {
				margin-bottom: 10px;
				font-size: 14px;
			}
		}
		
	
		&__inner {
			width: calc(100% - 40px);
			max-height: 90vh;
			height: auto;
			margin-top: 0px;
		}

		article {
			flex-wrap: wrap;
			overflow: auto;
			justify-content: start;
			align-items: start;
		}
	
		&__left-box {
			width: 100%;
			height: 50vw;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	
		&__right-box {
			width: 100%;
			height: auto;
			padding: 30px 20px 10px;
	
			h2 {
				font-size: 18px;
				margin-bottom: 10px;
				&::before {
					width: 50px;
					height: 4px;
					margin-bottom: 30px;
				}
			}
	
			.pupup__explanation {
				margin-bottom: 30px;
				li {
					padding-right: 0px;
					margin-right: 0px;
					margin-bottom: 5px;
					border-right: 0;
					font-size: 12px;
				}
				
			}
	
			.popup__detail {
				font-size: 14px;
				margin-bottom: 30px;
				line-height: 1.5;
			}
	
			.keyword {
				li {
					font-size: 0px;
					padding: 8px 12px;
					border-radius: 20px;
					margin-right: 8px;
					p {
						font-size: 12px;
					}
	
				}
				
			}
		}
	
		&__youtube {
			display: none;
		}
	
		&__close {
			top: -25px;
			right: -15px;
			width: 45px;
			height: 45px;
			border-radius: 45px;
			border: 3px solid #060f1c;
			i {
				font-size: 24px;
			}
		}
		
	}

	.loading {
		&__box {
			top: -50%;
			right: -100%;
		}
	}

	.profile {
		&__inner {
			padding: 40px 20px 0px;

			h1 {
				font-size: 18px;
				margin-bottom: 20px;
			}
		}

		&__hi {
			width: 26px;
			top: 5px;
		}
	}

	.card {
		font-size: 14px;

		> article {
			padding: 20px;

			> h3 {
				font-size: 12px;
				margin-bottom: 15px;

				span {
					padding-left: 5px;
					font-size: 16px;
				}
			}
		}

		&__contact {
			order: 1;
			width: 100%;
			border-radius: 20px;
			margin-right: 0px;
			flex-direction: row;
			a {
				font-size: 12px;
				i {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
		}

		&__me {
			order: 2;
			width: 100%;
			box-sizing: border-box;
			border-radius: 25px;
			margin-right: 0;
		}

		&__tools {
			order: 6;
			border-radius: 20px;
			width: 100%;

			ul {
				padding-top: 5px;
				li {
					margin-bottom: 15px;
				}
			}
			img {
				width: 20px;
				margin-right: 10px;
			}
		}

		&__name {
			margin-bottom: 20px;
			font-size: 16px;

			> span {
				padding-top: 10px;
				font-size: 14px;
			}
		}

		&__introduction {
			order: 3;
			width: 100%;

			ul {
				padding-left: 20px;
				margin-bottom: 15px;
				li {
					font-size: 14px;
				}
			}

			p {
				font-size: 14px;
				line-height: 1.5;
			}
		}

		&__ed {
			order: 4;
			width: 100%;
			border-radius: 20px;
			margin-right: 0px;

			ul {
				padding-left: 20px;
				li {
					font-size: 14px;
					margin-bottom: 5px;
					div {
						span {
							font-size: 12px;
						}
					}
				}
			}
		}

		&__career {
			order: 5;
			width: 100%;
			border-radius: 20px;
			margin-right: 0px;

			h5 {
				width: 100%;
				font-size: 14px;
				margin-right: 0px;
				margin-bottom: 10px;
			}

			div {
				flex-wrap: wrap;
				margin-bottom: 10px;
				span {
					&:nth-of-type(1) {
						padding-right: 10px;
						margin-right: 10px;
					}
				}
			}

			ul {
				padding-left: 20px;
				margin-bottom: 15px;
			}
		}
	}

	.portfolio {
		&__inner {
			padding: 30px 20px;

			h1 {
				font-size: 30px;
				margin-bottom: 20px;
				span {
					font-size: 14px;
				}
			}
		}
	}

	.portfolio-list {
		&__img-box {
			height: 50vw;
			border-radius: 20px;
			margin-bottom: 20px;
		}
		&__txt-box {
			padding: 0px 10px;
		}

		article {
			width: 100%;
			border-radius: 20px;
			margin-bottom: 30px;
			margin-right: 0%;

			p {
				font-size: 12px;
				margin-bottom: 5px;
			}
			h6 {
				font-size: 14px;
			}
		}
	}
}
